section.menu {
  width: 100%;
  height: 100%;
  min-height: 1465px;
  background-color: #161616;
  .wrapper {
    padding: 40px 0;
    max-width: 1440px;
    min-height: 634px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-around;
    justify-content: center;
    .block {
      padding: 0 10px;
      //   box-sizing: content-box;
      max-width: 600px;
      width: 100%;
      margin: 0 10px;
      .input {
        margin: 15px 0;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        label {
          margin: 5px 0;
          font-family: "SFProText", sans-serif;
          font-size: 20px;
          //   font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.17;
          color: #f2eaea;
        }
        input {
          width: 100%;
          border: none;
          border-radius: 5px;
          font-family: "SFProText", sans-serif;
          color: #f2eaea;
          padding: 0 5px;
          font-size: 20px;
          outline: none;
          box-shadow: none;
          //   background-color: #ccc;
          background: #4f4f4f;
          height: 35px;
        }
        textarea {
          border: none;
          border-radius: 5px;
          font-family: "SFProText", sans-serif;
          color: #f2eaea;
          padding: 10px;
          font-size: 20px;
          outline: none;
          resize: none;
          box-shadow: none;
          width: 100%;
          height: 250px;
          background: #4f4f4f;
        }
        textarea::-webkit-scrollbar {
          width: 12px;
          background-color: #4f4f4f;
        }

        textarea::-webkit-scrollbar-thumb {
          border-radius: 10px;
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
          background-color: #ccc;
        }
      }
      .block:last-child {
        .input:last-child {
          input {
            height: 250px;
          }
        }
      }
    }
  }
}
