@font-face {
  font-family: "SegoeUI";
  // адрес шрифта и тип
  src: url("../fonts/segoe.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

section.slider {
  height: 100%;
  background: grey;
  background-image: url("../img/home/broadcast-broadcasting-camcorder-66134@3x.png");
  background-size: 100% 100%;
  .wrapper {
    padding: 35px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    // min-height: 900px;
    min-height: 500px;
    margin: 0 auto;
    background: transparent;
    .slid {
      position: relative;
      width: 100%;
      .prev,
      .next {
        top: calc(50% - 10%);
        position: absolute;
        height: 60px;
        width: 60px;
        z-index: 1;
        fill: #ccc;
        cursor: pointer;
      }
      .next {
        right: 10px;
      }
      .prev {
        left: 10px;
      }
      .slide {
        background: transparent;
        position: relative;
        padding: 0 50px;
        h2 {
          font-family: "SFProText", sans-serif;
          //   font-size: 60px;
          font-size: 40px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.18;
          letter-spacing: -0.34px;
          text-align: center;
          color: #ffffffd9;
        }
      }
    }
  }
}
section.information {
  background: #161616;
  .wrapper {
    padding: 0 35px;
    .block:nth-child(1) {
      margin: 65px 0;
      flex-wrap: wrap;
      max-width: unset;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      .text {
        max-width: 325px;
        min-height: 308px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .img {
          margin: 10px 0;
          max-width: 72px;
          min-height: 65px;
          //   max-height: 72px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .txt {
          display: flex;
          flex-direction: column;
          align-items: center;
          h3 {
            margin: 30px 0;
            max-width: 60%;
            margin: unset;
            font-family: "SegoeUI", sans-serif;
            font-size: 25px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.2;
            letter-spacing: normal;
            text-align: center;
            color: #007bc2;
          }
          p {
            margin: 30px 0;
            font-family: "SegoeUI", sans-serif;
            font-size: 20px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.2;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
          }
        }
      }
    }
    .element {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-evenly;
      margin: unset;
      .text {
        width: 100%;
        // max-width: 479px;
        max-width: 456px;
        min-height: 308px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .img {
          margin: 10px 0;
          max-width: 72px;
          min-height: 65px;
          //   max-height: 72px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .txt {
          display: flex;
          flex-direction: column;
          align-items: center;
          h3 {
            margin: 30px 0;
            // max-width: 60%;
            margin: unset;
            font-family: "SegoeUI", sans-serif;
            font-size: 30px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.2;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
          }
          p {
            margin: 16px 0;
            font-family: "SegoeUI", sans-serif;
            font-size: 25px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.2;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
          }
        }
      }
      .text:nth-child(even) {
        background-color: #3b4348;
      }
      .text:nth-child(odd) {
        background-color: #5a656c;
      }
    }
  }
}
section.trusted {
  background: #232323;
  .wrapper {
    padding: 0 35px;
    .block:nth-child(1) {
      max-width: 1100px;
      position: relative;
      .text {
        h3 {
          max-width: unset;
          font-family: "SFProText", sans-serif;
          font-size: 35px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.17;
          letter-spacing: -0.2px;
          text-align: center;
          color: #ffffff;
        }
        .line {
          position: absolute;
          //   top: 35%;
          top: 15%;
          left: 50%;
          max-width: 955px;
          width: 60%;
          transform: translate(-50%, -45%);
        }
      }
      .container {
        margin: 90px 0 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        img {
          margin: 20px 15px;
          width: 100%;
          height: auto;
          max-width: 240px;
          max-height: 88px;
        }
        img:nth-child(5) {
          max-width: 80px;
        }
        img:nth-child(1) {
          max-width: 80px;
        }
      }
    }
    .block:nth-child(2) {
      margin: 0;
      max-width: 1318.5px;
      .image {
        margin: 0;
        width: 100%;
        object-fit: contain;
        // max-width: 1318.5px;
        // min-height: 790px;
        height: auto;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
section.different {
  width: 100%;
  background-image: url("../img/home/music-guitar-concert-microphone-mic-studio-89799-pxhere.com@3x.png");
  //   background-size: 100% 100%;
  background-size: 100% 100%;
  .wrapper {
    padding: 0 0 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1440px;
    min-height: 600px;
    .block:nth-child(1) {
      max-width: unset;
      height: 100%;
      padding: 0 35px;
      //   min-height: 50%;
      .text {
        max-width: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .line {
          position: absolute;
          top: 20%;
          width: 80%;
        }
        h3 {
          margin: 0 0 70px 0;
          max-width: unset;
          font-family: "SFProText", sans-serif;
          font-size: 35px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.17;
          letter-spacing: -0.2px;
          text-align: center;
          color: #ffffff;
        }
        p {
          margin-top: 45px;
          font-family: "SegoeUI", sans-serif;
          //   font-size: 25px;
          font-size: 20px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.2;
          letter-spacing: normal;
          text-align: left;
          color: #ffffff;
        }
      }
      .button {
        position: relative;
        top: 50px;
        background-color: #4a90e2;
        width: 230.4px;
        height: 52.1px;
        border-radius: 6px;
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          width: 100%;
          height: 100%;
          font-family: "SegoeUI", sans-serif;
          font-size: 25px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.2;
          letter-spacing: normal;
          text-align: left;
          color: #ffffff;
        }
      }
    }
  }
}
section.block-image {
  .wrapper {
    .element {
      .text {
        img {
          width: 100%;
          height: 100%;
        }
        a {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
// @media (min-width: 768px) {
//   section.different {
//     .wrapper {
//       .block:nth-child(1) {
//         .text {
//           .line {
//             width: 48%;
//           }
//         }
//       }
//     }
//   }
// }
@media (min-width: 1024px) {
  section.slider {
    .wrapper {
      min-height: 900px;
      .slid {
        .slide {
          h2 {
            font-size: 60px;
          }
        }
      }
    }
  }
  section.information {
    .wrapper {
      .block:nth-child(1) {
        .text {
          .txt {
            h3 {
              font-size: 30px;
            }
            p {
              font-size: 25px;
            }
          }
        }
      }
      .element {
        .text {
          .txt {
            h3 {
              font-size: 35px;
            }
            p {
              font-size: 30px;
            }
          }
        }
      }
    }
  }
  section.trusted {
    .wrapper {
      .block:nth-child(1) {
        .text {
          .line {
            top: 35%;
          }
        }
        .container {
          img {
            margin: 0 15px;
          }
        }
      }
    }
  }
  section.different {
    .wrapper {
      .block:nth-child(1) {
        .text {
          .line {
            width: 650px;
          }
          p {
            font-size: 25px;
          }
        }
      }
    }
  }
}
