header { width: 100%; height: 125px; background: #3d3d3d; }

header .wrapper { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; margin: 0 auto; max-width: 768px; z-index: 9999; height: 100%; }

header .wrapper-logo { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; font-family: "Roboto Condensed", sans-serif; line-height: 65px; text-transform: uppercase; height: 60%; width: 100%; z-index: 1; letter-spacing: -2px; background: #3d3d3d; }

header .wrapper-logo a { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; font-size: 40px; color: #4e4e4e; font-weight: 700; text-decoration: none; }

header .wrapper-logo a img { width: 222px; height: 54px; -o-object-fit: contain; object-fit: contain; }

header .wrapper-menu { font-size: 16px; color: #4e4e4e; font-weight: 700; text-decoration: none; width: 100%; height: 40%; border: none; border-radius: 0; background: #545454; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; text-transform: uppercase; position: relative; padding: 0 5px; }

header .wrapper-menu #menu__toggle { opacity: 0; }

header .wrapper-menu .menu_btn { position: relative; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; width: 14%; height: 90%; border: none; border-radius: 0; background: #545454; -webkit-box-sizing: border-box; box-sizing: border-box; cursor: pointer; border-radius: 5px; border: 1px solid #8a8282; z-index: 1; }

header .wrapper-menu .burg { width: 50%; height: 10%; border: none; border-radius: 0; background: rgba(255, 255, 255, 0.644); }

header .wrapper-menu .burg::after { width: 50%; height: 10%; border: none; border-radius: 0; background: rgba(255, 255, 255, 0.644); position: absolute; top: 20%; left: 25%; content: ""; }

header .wrapper-menu .burg::before { width: 50%; height: 10%; border: none; border-radius: 0; background: rgba(255, 255, 255, 0.644); position: absolute; top: 73%; left: 25%; content: ""; }

header .wrapper-menu .menu__box { list-style-type: none; position: absolute; top: -500%; left: 0; width: 100%; background: #545454; -webkit-transition: top 0.7s ease; -o-transition: top 0.7s ease; transition: top 0.7s ease; }

header .wrapper-menu ul { padding: 5px; list-style: none; }

header .wrapper-menu ul li { padding: 10px; }

header .wrapper-menu ul li a { font-family: "SFProText", sans-serif; text-decoration: none; font-size: 15px; font-weight: 500; font-stretch: normal; font-style: normal; line-height: 1.2; letter-spacing: -0.09px; text-align: center; text-transform: uppercase; color: rgba(255, 255, 255, 0.85); }

header .wrapper-menu ul li:hover { color: #2869d6; }

header .wrapper-menu ul li.active > a { color: #2869d6; }

header .wrapper-menu #menu__toggle:checked ~ .menu__box { top: 100%; opacity: 1; }

section.banner { background-image: url("../img/bespoke/banner (3)@3x.jpg"); background-size: 100% 100%; height: 400px; z-index: -1; }

section.release { height: auto; background-color: #231e1ef5; }

section.release .wrapper { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; max-width: 1440px; height: 100%; margin: 0 auto; }

section.release .wrapper .block:nth-child(1) { margin: 55px 0; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; max-width: 995px; width: 100%; position: relative; }

section.release .wrapper .block:nth-child(1) h3 { position: relative; font-family: "SFProText", sans-serif; font-size: 25px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: 1.17; max-width: 50%; letter-spacing: -0.2px; text-align: center; color: #ffffff; }

section.release .wrapper .block:nth-child(1) .line { height: 1px; background: white; width: 20%; top: 16px; position: absolute; }

section.release .wrapper .block:nth-child(1) .after { left: 10px; }

section.release .wrapper .block:nth-child(1) .before { right: 10px; }

section.release .wrapper .block:nth-child(1) p { margin-top: 33px; font-family: "SFProDisplay", sans-serif; text-align: center; font-size: 20px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 0.8; letter-spacing: normal; color: #e7ebfd; }

section.release .wrapper .block:nth-child(2) { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; height: auto; max-width: 1010px; margin: 10px auto; }

section.release .wrapper .block:nth-child(2) .image { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; margin: 7px; height: 220px; width: 220px; }

section.release .wrapper .block:nth-child(2) .image a { width: 100%; height: 100%; }

section.release .wrapper .block:nth-child(2) .image img { height: 100%; width: 100%; -o-object-fit: contain; object-fit: contain; }

section.release .wrapper .block:nth-child(3) { margin: 40px auto; margin-bottom: 55px; }

section.release .wrapper .block:nth-child(3) .button { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; min-width: 260.7px; min-height: 51.1px; border-radius: 6px; background-color: #4a90e2; }

section.release .wrapper .block:nth-child(3) .button a { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; width: 100%; height: 100%; font-family: "SFProDisplay", sans-serif; font-size: 25px; font-weight: 400; font-stretch: normal; font-style: normal; line-height: 1.2; letter-spacing: normal; text-align: center; color: #ffffff; text-decoration: none; }

section.collection { background-color: #2d2d2d; }

section.playlist .wrapper .block:nth-child(2) .image { min-width: 300px; min-height: 325px; margin: 8.5px; }

section.license { background-color: #2d2d2d; }

section.license .wrapper .block:nth-child(2) { -webkit-box-shadow: 0 5px 20px 0 #0000004d; box-shadow: 0 5px 20px 0 #0000004d; border: solid 0.5px #000000bf; background-color: #2d2d2d; width: 100%; margin: unset; padding: unset; max-width: 915px; min-height: 395px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

section.license .wrapper .block:nth-child(2) ul li { list-style-type: none; margin: 20px 0; }

section.license .wrapper .block:nth-child(2) ul li a { text-decoration: none; font-family: "SFProDisplay", sans-serif; font-size: 25px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1; letter-spacing: 0.17px; text-align: left; color: #e7ebfd; }

section.license .wrapper .block:nth-child(2) ul li a img { width: 32.2px; height: 34px; margin-right: 35px; }

section.license .wrapper .block:nth-child(3) { padding: 0 50px; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: end; -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end; margin: 60px 0; width: 100%; flex-wrap: wrap; max-width: 995px; }

section.license .wrapper .block:nth-child(3) .component { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }

section.license .wrapper .block:nth-child(3) .component p { margin: 0 20px; font-family: "SFProDisplay", sans-serif; font-size: 25px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.2; letter-spacing: normal; text-align: center; color: #e7ebfd; }

section.license .wrapper .block:nth-child(3) .component .button { border-radius: unset; min-width: 205.9px; min-height: 49.3px; }

@media (min-width: 768px) { section.release .wrapper .block:nth-child(1) h3 { font-size: 30px; max-width: 35%; }
  section.release .wrapper .block:nth-child(1) p { font-size: 21px; text-align: left; }
  section.release .wrapper .block:nth-child(1) .line { width: 27%; }
  section.release .wrapper .block:nth-child(2) .image { height: 225px; width: 225px; }
  section.release .wrapper .block:nth-child(3) .button { min-width: 296.7px; min-height: 55.1px; } }

@media (min-width: 1440px) { section.release .wrapper .block:nth-child(1) h3 { font-size: 35px; max-width: 35%; }
  section.release .wrapper .block:nth-child(1) p { font-size: 25px; text-align: left; }
  section.release .wrapper .block:nth-child(1) .line { width: 29%; }
  section.release .wrapper .block:nth-child(2) .image { height: 237px; width: 237px; }
  section.release .wrapper .block:nth-child(3) .button { min-width: 296.7px; min-height: 55.1px; }
  section.banner { height: 570px; }
  section.playlist .wrapper .block:nth-child(2) .image { min-width: 305.3px; min-height: 388.1px; margin: 8.5px; }
  section.license .wrapper .block:nth-child(1) { max-width: 935px; }
  section.license .wrapper .block:nth-child(2) { padding: 61px 80px; } }

footer { min-height: 181px; -webkit-box-shadow: 0 5px 8.5px 0 #00000066; box-shadow: 0 5px 8.5px 0 #00000066; border: solid 0.5px #000000; background-color: #232323; }

footer .wrapper { padding: 9px 8px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; max-width: 1440px; min-height: 181px; margin: 0 auto; }

footer .wrapper .logo { margin: 10px 0; }

footer .wrapper .social { margin: 10px 0; max-width: 500px; width: 100%; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }

footer .wrapper .social ul { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

footer .wrapper .social ul li { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; margin: 10px; }

footer .wrapper .social ul li a { width: 100%; height: 100%; text-decoration: none; }

footer .wrapper .social ul li a img { width: 30px; height: 30px; }

footer .wrapper .text { margin: 10px 0; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }

footer .wrapper .text a { text-decoration: none; font-family: "SFProDisplay", sans-serif; font-size: 15px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.3; letter-spacing: 0.13px; text-align: left; color: #ffffff; }

section.menu { width: 100%; height: 100%; min-height: 1465px; background-color: #161616; }

section.menu .wrapper { padding: 40px 0; max-width: 1440px; min-height: 634px; height: 100%; width: 100%; margin: 0 auto; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }

section.menu .wrapper .block { padding: 0 10px; max-width: 600px; width: 100%; margin: 0 10px; }

section.menu .wrapper .block .input { margin: 15px 0; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

section.menu .wrapper .block .input label { margin: 5px 0; font-family: "SFProText", sans-serif; font-size: 20px; font-stretch: normal; font-style: normal; line-height: 1.17; color: #f2eaea; }

section.menu .wrapper .block .input input { width: 100%; border: none; border-radius: 5px; font-family: "SFProText", sans-serif; color: #f2eaea; padding: 0 5px; font-size: 20px; outline: none; -webkit-box-shadow: none; box-shadow: none; background: #4f4f4f; height: 35px; }

section.menu .wrapper .block .input textarea { border: none; border-radius: 5px; font-family: "SFProText", sans-serif; color: #f2eaea; padding: 10px; font-size: 20px; outline: none; resize: none; -webkit-box-shadow: none; box-shadow: none; width: 100%; height: 250px; background: #4f4f4f; }

section.menu .wrapper .block .input textarea::-webkit-scrollbar { width: 12px; background-color: #4f4f4f; }

section.menu .wrapper .block .input textarea::-webkit-scrollbar-thumb { border-radius: 10px; -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1); background-color: #ccc; }

section.menu .wrapper .block .block:last-child .input:last-child input { height: 250px; }

* { -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; }

html { overflow-x: hidden; }

@media (min-width: 768px) { header .wrapper { max-width: 1024px; }
  footer .wrapper .social { max-width: 330px; } }

@media (min-width: 1024px) { header { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; position: unset; height: 72px; }
  header .wrapper { max-width: 1440px; padding: 9px 8px; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
  header .wrapper .wrapper-logo { width: unset; }
  header .wrapper .wrapper-menu { background: transparent; width: unset; position: unset; }
  header .wrapper .wrapper-menu label { display: none; }
  header .wrapper .wrapper-menu input { display: none; }
  header .wrapper .wrapper-menu ul { padding: unset; position: unset; opacity: 1000; width: initial; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; z-index: 9999; -webkit-transition: top 0s linear; -o-transition: top 0s linear; transition: top 0s linear; background: transparent; }
  header .wrapper .wrapper-menu ul li { padding: 0 15px; }
  header .wrapper .wrapper-menu ul li a { color: rgba(255, 255, 255, 0.85); font-size: 16px; }
  header .wrapper .wrapper-menu #menu__toggle:checked ~ .menu__box { top: inherit; }
  footer .wrapper { -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }
  footer .wrapper .logo { margin: unset; }
  footer .wrapper .social { margin: unset; max-width: 500px; -webkit-box-pack: end; -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end; }
  footer .wrapper .social ul li a img { width: 65px; height: 41px; }
  footer .wrapper .text { margin: unset; }
  footer .wrapper .text a { font-size: 20px; } }
